:root {
  --bg-dark: #1e1e1e;
  --text-light: #ffffff;
  --accent: #646cff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: "Inter", system-ui, sans-serif;
  overflow: hidden;
}

input,
button {
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  font-family: inherit;
}

input {
  background: #2a2a2a;
  color: #fff;
}

button {
  background: var(--accent);
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #535bf2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
